[submodule "tests/fixtures/nowinandroid"]
	path = tests/fixtures/nowinandroid
	url = https://github.com/android/nowinandroid.git
[submodule "tests/fixtures/compose-samples"]
	path = tests/fixtures/compose-samples
	url = https://github.com/android/compose-samples.git
[submodule "tests/fixtures/androidx"]
	path = tests/fixtures/androidx
	url = https://github.com/androidx/androidx.git
[submodule "tests/fixtures/okhttp"]
	path = tests/fixtures/okhttp
	url = https://github.com/square/okhttp.git
