root = true

[*.kt]
ktlint_code_style = android_studio
max_line_length = 120
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_package-name = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_filename = disabled
ktlint_standard_function-expression-body = disabled
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
